{% extends 'base.html' %}

{% block content %}
<div class="search-div row">
    <!-- <input type="radio" name="tab" value="igotnone" onclick="show1();" checked/>
Search by Car
<input type="radio" name="tab" value="igottwo" onclick="show2();"/>
Search by Showroom -->
<div class="index-search column" id="index-search-car">
    <table>
        <tr>
            <td>
                <form class="carsearch" action="{% url 'carsapp:searchcar' %}" method="post">
                    {% csrf_token %}
                    <input class="input-text" type="text" name="car_name" placeholder="Search with car name" list="car_list">
                    <datalist id="car_list">
                        {% for result in cars_list %}
                            <option value="{{ result.car_name }}">{{ result.car_name }}</option>
                        {% endfor %}
                    </datalist>
                    <button type="submit" class="btn-search"><div class="search-icon">&#9906</div></button>
                </form>
            </td>
           
        </tr>
    </table>
</div>

<div class="index-search column" id="index-search-sr">
    <table  style="float: right !important;">
        <tr>
            <td class="srsearch-div">
                <form class="srsearch" action="{% url 'carsapp:searchsr' %}" method="post">
                    {% csrf_token %}
                    
                        <input class="input-text" type="text" name="sr_name" placeholder="Search with showroom" list="sr_list">
                    <datalist id="sr_list">
                        {% for result in showroom_list %}
                            <option value="{{ result.showroom_name }}">{{ result.showroom_name }}</option>
                        {% endfor %}
                    </datalist>
                    <button type="submit" class="btn-search"><div class="search-icon">&#9906</div></button>
                    
                </form>
            </td>
        </tr>
    </table>
</div>
</div>
<HR>
<h2 class="text-center mb-3 heading">Cars list</h2>

{% if cars_list %}
{% for result in cars_list %}
<div class="card mb-3">
    <div class="card-body">
        <p>
            <label class="card-car-index">{{ result.brand }} {{ result.car_name }}</label>
            <label class="ratings">Ratings : {{ result.ratings }} star{{ result.ratings | pluralize }}</label>
            <a href="{% url 'carsapp:detail' result.id %}" class="detail-link">View details</a>
        </p>
    </div>
</div>
<script defer>
    function show1(){
  document.getElementById('index-search-car').style.display ='block';
  document.getElementById('index-search-sr').style.display = 'none';
}
 function show2(){
    document.getElementById('index-search-car').style.display ='none';
  document.getElementById('index-search-sr').style.display = 'block';
  document.getElementById('index-search-sr').style.visibility = 'visible';
}
</script>

{% endfor %}
{% else %}
<p>No cars available</p>
{% endif %}

{% endblock %}

